<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form class="ui form" action="/login">
            <div class="field">
                <h1>Register Form</h1>
                <input type="text" name="username" placeholder="Enter username..."><br>
                <input type="text" name="password" placeholder="Enter password..."><br>
            </div>
            <button class="ui blue button" type="submit">login</button>
    </form>

</body>
</html>